@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap");

.tendencia {
  background-color: #ebebeb;
  padding-top: 130px;
  padding-bottom: 250px;

}

@media(max-width: 765px){
  .tendencia{
    height: 120vh;
  }
}

.seccion-titulo {
  font-weight: bold;
  color: #2a3037;
  padding-bottom: 30px;
}

.card-text {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: #7A838D;
}



