.footer {
  background-color: #2a3037;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 150px;
  padding-right: 150px;
  position: absolute;
  width: 100%;
}
@media(max-width: 576px){
    .footer{
        padding-left: 30px;
        padding-right: 30px;
    }

}
